*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header__bg{
    background: #222222;
    max-width: 100%;
}

.wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper_nav{
    justify-content: space-between;
}
.header__nav{
    display: flex;
    justify-content: space-between; 
    padding: 18px 0 18px 0;
}
.header__img{
    margin-right: 41px;
}
.header__image{
    margin-left: 33px;
}
.header__nav-item{
    position: relative;
}
.header__ellips{
    position: absolute;
    top: -6px;
    right: -11px;
}

.brand{
    background: #F1E4E6;
    max-width: 100%;
    min-height: 764px;
}
.brand__wrapper{
    display: flex; 
    min-height: 754px;
    background-image: url(./img/man.png);
    background-repeat: no-repeat;
    background-position: -218px bottom;
    justify-content: flex-end;
    align-items: center;
}


.brand__title{
    max-width: 409px;
    border-left: 12px solid  #F16D7F;
    padding-left: 20px ;
}

.brand__title > p{
    font-family: lato;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
}
.brand__title > h1{
    font-family: lato;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.brand__decorate{
    color: #F16D7F;
}
/*Main Gallery Start*/
.gallery__wrapper {
    display: grid;
    grid-template-columns:  360px 360px 360px;
    grid-template-rows: 260px 210px  ;
    justify-content: space-between;
    margin-top: 65px;
}
.gallery__wrapper-text{
    position: absolute;
    top: 43%;
    left: 29%;
}
.gallery__wrapper-textAccesories{
    position: absolute;
    top: 65px;
    left: 490px;
}
.gallery__price{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.gallery__for{
    font-family: Lato;
    font-style: 700;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
.gallery__wrapper-img{
    position: relative;
}

.gallery__wrapper-img:first-child{
    background: linear-gradient( rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/women.jpg) no-repeat;
    
}
.gallery__wrapper-img:nth-child(3){
    background: linear-gradient( rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/kids.jpg) no-repeat;
}
.gallery__wrapper-img:nth-child(2){
    background: linear-gradient( rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/men.jpg);
}

.gallery__img{
    background: linear-gradient( rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/trend.jpg) no-repeat;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 30px;
    position: relative;
}
.gallery__items-title{
    margin-top: 96px;
    text-align: center;
}
.gallery__items-title > h2{
    font-family: Lato;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.gallery__items-title > p{
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.gallery__cards{
    margin-top: 27px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: space-between;
}
.gallery__card{
    margin-top: 30px;
    max-width: 360px;  
    background: #F8F8F8;
}
.gallery__card-img > img{
    display: block;
    width: 100%;
    height: auto;
}
.gallery__card-img{
    position: relative;
    width: 360px;
}
.gallery__card-img::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.gallery__card-img:hover::after{
    background: url(./img/addToCart.svg) 111px 188px no-repeat, linear-gradient(rgba(58, 56, 56, 0.86), rgba(58, 56, 56, 0.86));
}
.gallery__card-text{
    margin-left: 16px;
}
.gallery__card-text > h3{
    padding-top: 25px;
    font-family: Lato;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.gallery__card-about{
    padding-top: 13px;
    padding-bottom: 18px;
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 315px;
    color: #5D5D5D;
}
.gallery__card-price{
    padding-bottom: 20px;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.gallery__button{
    margin-top: 49px;
    text-align: center;
    margin-bottom: 96px;
}
.gallery__button > button{
    width: 211px;  
    height: 47px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
}
.gallery__button > button:hover{
    background: #F16D7F;
    color: #FFFFFF;
}
/*Main Gallery End*/

/*Footer Start*/
.footer__about{
    background: #222224;
}
.footer__about-cards{
    display: grid;
    grid-template-columns: 304px 304px 304px;
    justify-content: space-between;
}
.footer__about-card{
    width: 304px;
    padding-top: 103px;
    padding-bottom: 104px;
    text-align: center;
}

.footer__about-text > h3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
}
.footer__about-text > p{
    padding-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    width: 304px;
    text-align: center;
}
.footer__subscribe-bg{
    width: 100%;
    background: url(./img/footerBG.jpg) no-repeat center;
}
.footer__subscribe-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 136px;
}
.footer__subscribe-card:first-child{
    padding-top: 87px;
}
.footer__subscribe-card:last-child{
    padding-top: 150px;
}
.footer__subscribe-img{
    text-align: center;
    width: 360px;
}
.footer__subscribe-text{
    width: 359px;
    padding-top: 30px;
}
.footer__subscribe-text > p{
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.footer__subscribe-title > h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.footer__subscribe-title > p{
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}
.footer__subscribe-input{
    margin-top: 32px;
    text-align: center;
}
.input{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border-radius: 25px 0 0 25px;
    border: none;
    width: 256px;
    height: 49px;
    padding-left: 22px;
    display: inline-block;
}
.button{
    background: #F16D7F;
    width: 100px;
    height: 49px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 0 25px 25px 0;
    justify-content: center;
}
.button:hover{
    background: #E05C6E;
}
.footer__right-bg{
    background: #222224;
    width: 100%;
}
.footer__right-cards{
    display: grid;
    grid-template-columns: 332px 148px;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer__right-card > p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}
.footer__right-cardBg{
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    display: inline-block;
    text-align: center;
}
.footer__right-img{
    vertical-align: -webkit-baseline-middle;

}
.footer__right-cardBg:hover{
    background: #F16D7F;
}
/*Footer End*/