*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@mixin wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 16px;
}
@mixin fontIntro(){
    font-family: 'Lato', sans-serif;
    color: #F16D7F;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
$headerBg:#222222;
.header{
    &--bg{
        background: $headerBg;
        max-width: 100%;
        position: fixed;
        width: 100%;
        z-index: 50;
    }
    &__nav-item:last-child{
        align-self: center;
        position: relative;
    }
    &__burger{
        width: 232px;
        background-color: white;
        position: fixed;
        z-index: 10;
        right: 0;
        top: 79px;
    }
    &__burger-open{
        display: block;
    }
    &__burger-close{
        display: none;
    }
    &__burger-close ~ .burger-close{
        display: none;
    }
    &__burger-title{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-left: 34px;
        padding-top: 37px;
    }
    &__list > h3{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        padding-left: 33px;
    }
    &__list > a{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: block;
        padding-left: 54px;
        padding-top: 12px;
    }
    &__man{
        margin-top: 24px;
    }
    &__woman, &__kids{
        margin-top: 20px;
    }
    &__kids{
        margin-bottom: 157px;
    }
    
}
.burger{
    &-open{
        background: transparent;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
    &-close{
        background: transparent;
        border: none;
        position: fixed;
        right: 16px;
        top: 95px;
        z-index: 60;
        &:hover{
            cursor: pointer;
        }
    }
}
.wrapper{
    @include wrapper();
}
.nav{
    display: flex;
    justify-content: space-between; 
    padding: 18px 0 18px 0;
   
    &__item{
        position: relative;
        
        &:last-child{
            align-self: center;
        }
    }
    &__img{
        margin-right: 41px;
    }
    &__image{
        margin-left: 33px;
    }
    &__ellips{
        position: absolute;
        top: -6px;
        right: -11px;  
    }
}
/*INTRO START*/
$IntroBg:#F8F3F4;
.intro{
    max-width: 100%;
    padding-top: 73px;
    background: $IntroBg;
    &__title a{
        @include fontIntro;
        text-decoration: none;
        
    }
    &__title{
        padding: 50px 0;
    }
}

/*INTRO END*/
@mixin shoppingCard($display, $gridCol, $gridRows) {
    display: $display;
    grid-template-columns: $gridCol;
    grid-template-rows: $gridRows;
}
@mixin shoppingFontTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}
@mixin shoppingFontText($color){
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: $color;
}
@mixin shoppingButtonFont {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.shopping{
    &--grid{
        display: grid;
        grid-template-columns: 652px 508px;
        grid-template-rows: 924px;
        margin-top: 96px;
    }
    &__card{
        @include shoppingCard($display:grid, $gridCol: 262px 390px, $gridRows:306px );
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__card:first-child{
        margin-bottom: 40px;
    }
    &__img{
        background: url(./cart_img/man.jpg) no-repeat;
    }
    &__image{
        background: url(./cart_img/black_mab.jpg) no-repeat;
    }
    &__title{
        margin-bottom: 42px;
        display: flex;
        & h3{
            @include shoppingFontTitle;
            width: 205px;
        }
        & button{
            align-self: flex-start;
            border: none;
            background: none;
            margin-left: 114px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__text{
        padding-left: 31px;
        padding-top: 22px;
        & p{
            @include shoppingFontText(#575757);
            padding-bottom: 6px;
        }
        & span{
            @include shoppingFontText(#EF5B70);
        }
    }
    &__quantity {
        display: flex;
        @include shoppingFontText(#575757);
        & p{
            padding-bottom: 0;
        }
        & p:last-child{
            border: 1px solid #EAEAEA;
            padding: 0 16px;
            margin-left: 24px;
        }
    }
    
}
.button{
    justify-content: space-between;
    display: flex;
    margin-top: 89px;
    margin-bottom: 128px;
    & button{
    background:none;
    border: 1px solid #A4A4A4;
    padding: 17px 40px;
    @include shoppingButtonFont;
    &:hover{
        cursor: pointer;
    }
  }
}
.shopping__form{
    & h4{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    & form{
        margin-left: 148px;
    }
    & input{
        margin-top: 20px;
        width: 360px;
        height: 45px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
    }
    & input::-webkit-input-placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color:#222222;
        padding-left: 18px;
     }
   
        & input:last-child{
        width: 102px;
        height: 35px;
        display:block;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        &:hover{
            cursor: pointer;
        }
    }
    & hr{
        width: 275px;
        margin: 0 auto;
        background: #E2E2E2;
    }
}
.checkout{
    margin-top: 57px;
    width: 360px;
    background: #F5F3F3;
    margin-left: 148px;
    &__text{
        padding-top: 39px;
    }
    &__text p:first-child{
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        padding-left: 218px;
    }
    &__text span:first-child{
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
    }
    &__text p:last-child{
        padding-left: 153px;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-top: 12px;
        }
        &__text span:last-child{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #F16D7F;
            padding-left: 23px;
        }
         &__button{
            justify-content: center;
            display: flex;
            & button{
                font-family: Lato;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                background: #F16D7F;
                border: none;
                padding: 15px 41px;
                margin-top: 17px;
                margin-bottom: 42px;
                &:hover{
                    cursor: pointer;
                }
                        }
         }           
        }
/*START subscribe*/
.subscribe{
    &-bg{
        width: 100%;
        background: url(../Catalog/catalog_img/footerBG.jpg) no-repeat center;
        background-size: 100%;
    }
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__card:first-child{
        padding-top: 87px;
    }
    &__card:last-child{
        padding-top: 150px;
    }
    &__img{
        text-align: center;
        width: 360px; 
    }
    &__text{
        width: 359px;
        padding-top: 30px;
        & p{
            font-family: Lato;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
        }
    }
    &__title{
        & h3{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
        }
        & p{
            font-family: Lato;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #222224; 
        }
    }
    &__input{
        margin-top: 32px;
        text-align: center;
        margin-bottom: 146px;
        & input:first-child{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #222224;
            opacity: 0.67;
            background: #E1E1E1;
            border-radius: 25px 0 0 25px;
            border: none;
            width: 256px;
            height: 49px;
            padding-left: 22px;
            display: inline-block;
        }
        & input:last-child{
            background: #F16D7F;
            width: 100px;
            height: 49px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 0 25px 25px 0;
            justify-content: center;
            &:hover{
                background: #E05C6E;
                cursor: pointer;
            }
        }
    }
}
.footer{
    background: #222224;
    width: 100%;
    &__cards{
        display: grid;
        grid-template-columns: 332px 148px;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__card{
        & p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }
    }
    &__card-bg{
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        display: inline-block;
        text-align: center;
        padding-top: 9px;
        &:hover{
            background: #F16D7F;
        }
        &:hover .footer__svg-bg{
            fill: white;
        }
    }

}


/*END subscribe*/