* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header--bg {
  background: #222222;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0 18px 0;
}

.nav__item {
  position: relative;
}

.nav__item:last-child {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__img {
  margin-right: 41px;
}

.nav__image {
  margin-left: 33px;
}

.nav__ellips {
  position: absolute;
  top: -6px;
  right: -11px;
}

/*INTRO START*/
.intro {
  background: #F8F3F4;
}

.intro__title a {
  font-family: 'Lato', sans-serif;
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

.intro__title {
  padding: 50px 0;
}

/*INTRO END*/
.shopping--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 652px 508px;
      grid-template-columns: 652px 508px;
  -ms-grid-rows: 924px;
      grid-template-rows: 924px;
  margin-top: 96px;
}

.shopping__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 262px 390px;
      grid-template-columns: 262px 390px;
  -ms-grid-rows: 306px;
      grid-template-rows: 306px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shopping__card:first-child {
  margin-bottom: 40px;
}

.shopping__img {
  background: url(./cart_img/man.jpg) no-repeat;
}

.shopping__image {
  background: url(./cart_img/black_mab.jpg) no-repeat;
}

.shopping__title {
  margin-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping__title h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 205px;
}

.shopping__title button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: none;
  background: none;
  margin-left: 114px;
}

.shopping__text {
  padding-left: 31px;
  padding-top: 22px;
}

.shopping__text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.shopping__text span {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #EF5B70;
}

.shopping__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping__quantity p {
  padding-bottom: 0;
}

.shopping__quantity p:last-child {
  border: 1px solid #EAEAEA;
  padding: 0 16px;
  margin-left: 24px;
}

.button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 89px;
  margin-bottom: 128px;
}

.button button {
  background: none;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.shopping__form h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping__form form {
  margin-left: 148px;
}

.shopping__form input {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: red;
}

.shopping__form input::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding-left: 18px;
}

.shopping__form input:last-child {
  width: 102px;
  height: 35px;
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shopping__form hr {
  width: 275px;
  margin: 0 auto;
  background: #E2E2E2;
}

.checkout {
  margin-top: 57px;
  width: 360px;
  background: #F5F3F3;
  margin-left: 148px;
}

.checkout__text {
  padding-top: 39px;
}

.checkout__text p:first-child {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-left: 218px;
}

.checkout__text span:first-child {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.checkout__text p:last-child {
  padding-left: 153px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 12px;
}

.checkout__text span:last-child {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 23px;
}

.checkout__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__button button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  padding: 15px 41px;
  margin-top: 17px;
  margin-bottom: 42px;
}
/*# sourceMappingURL=cart.css.map */