*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/*START HEADER*/
.header__bg{
    background: #222222;
    max-width: 100%;
    position: fixed;
    width: 100%;
    z-index: 50;
}
.header__nav-item:last-child{
    align-self: center;
    position: relative;
}
.burger-open{
    background: transparent;
    border: none;
}
.burger-open:hover{
    cursor: pointer;
}
.header__burger{
    width: 232px;
    background-color: white;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 79px;
}
.header__burger-open{
    display: block;
}
.header__burger-close{
    display: none;
}
.header__burger-close ~ .burger-close{
    display: none;
}

.burger-close{
    background: transparent;
    border: none;
    position: fixed;
    right: 16px;
    top: 95px;
    z-index: 60;
}
.burger-close:hover{
    cursor: pointer;
}

.header__burger-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 34px;
    padding-top: 37px;
}
.header__list > h3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-left: 33px;
}
.header__list > a{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: block;
    padding-left: 54px;
    padding-top: 12px;
}
.header__man{
    margin-top: 24px;
}
.header__woman, .header__kids{
    margin-top: 20px;
}
.header__kids{
    margin-bottom: 157px;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper_nav{
    justify-content: space-between;
}
.header__nav{
    display: flex;
    justify-content: space-between; 
    padding: 18px 0 18px 0;
}
.header__img{
    margin-right: 41px;
}
.header__image{
    margin-left: 33px;
}

.header__ellips{
    position: absolute;
    top: -7px;
    right: -10px;
}

/*END HEADER*/

/*START NAV*/
.nav__bg{
    background: #F8F3F4;
    padding-top: 78px;
}
.nav__wrap{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.nav__title:last-child{
    align-self: center;
}
.nav__arrivals{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.nav__catalog{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.nav__catalog:last-child{
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

/*END NAV*/

/*START MAIN*/
.main{
    padding-top: 78px;
}
/* MAIN FILTER*/
.main_wrapp{
    display: flex;
    padding-top: 51px;
    padding-bottom: 64px;
    align-items: flex-end;
}
.box{
    width: 360px;
    background-color: white;
}
  summary {
    background-color: white;
  }
  .filter{
      background-color: white;
  }
  .filter__designer{
      padding-bottom: 16px;
  }
  .filter__list{
    display: block;
    padding: 13px 0 0 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .filter__list > svg{
      margin-left: 11px;
  }
  .filter__list:hover{
    cursor: pointer;
  }
  .filter[open] >  .filter__list {
    color: #EF5B70;
  }
  .filter[open] > .filter__list > svg > path{
    fill: #EF5B70 ;
  }
  .filter__about{
    display: block;
    border-bottom: 1px solid #EBEBEB;
    border-left: 10px solid #EF5B70;
    padding: 8px 0 12px 16px;
    outline: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-top: 18px;
    margin-left: 17px;
    width: 327px;
  }
  .filter-item[open] > .filter__about{
    color: #EF5B70;
  }
  .filter[open]   {
    width: 360px;
    
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);;
  }
  .filter__about-list{
    padding-top: 13px;
  }
  .filter__about-item{
    margin-left: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 11px;
  }
  .fiter-content{
      position: absolute;
      background: white;
      width: 360px;
      border-right:  6px 4px 35px rgba(0, 0, 0, 0.21);;;
  }
  .filter__box-input{
      display: block;
  }
  .filter__box-form > summary{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    }
    .filter__box-trend{
        margin-left: 32px;
    }
    .filter__box-item{
        margin-left: 28px;
    }
    .filter-item:hover{
        cursor: pointer;
    }
    .filter__box:hover{
        cursor: pointer;
    }
.filter__box-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    padding-top: 6px;
    padding-left: 9px;
}
.filter__box-input > input{
    margin-right: 9px;
}
.filter__box-content{
    width: 132px;
    background: white;
    padding-bottom: 11px;
    margin-top: 5px;
}
.filter__box-form[open] > .filter__box-content{
    position: absolute;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__box{
    background-color: white;
}
.filter__box-contentSize{
    width: 79px;
}
.filter__box-contentPrice{
    width: 79px;
}
/*MAIN CATALOG*/
.catalog__cards{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 611px 611px 611px;
    justify-content: space-between;
    padding-bottom: 48px;
}
.catalog__card:first-child{
    margin-top: 0;
}
.catalog__card:nth-child(2){
    margin-top: 0;
}
.catalog__card:nth-child(3){
    margin-top: 0;
}
.catalog__card{
    background: #F8F8F8;
    margin-top: 30px;
}
.catalog__card:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog__title{
    padding-left: 16px;
}
.catalog__title > h3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
}
.main__catalog-about{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    width: 314px;
    padding-top: 13px;
}
.main__catalog-price{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
}
/*MAIN CAROUSEL*/
.main__carousel{
    width: 284px;
    height: 44px;
    border: 1px solid #EBEBEB;
    margin: auto;
    padding-top: 12px;
    margin-bottom: 96px;
}
.main__carousel-gray{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color:  #EBEBEB;
    padding-left: 10px;
}
.main__carousel-red{
    color: #EF5B70;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-left: 17px;
}
.main__carousel > button{
    background-color: white;
    border: none;
    padding-left: 17px;
}
/*Footer Start*/
.footer__about{
    background: #222224;
}
.footer__about-cards{
    display: grid;
    grid-template-columns: 304px 304px 304px;
    justify-content: space-between;
}
.footer__about-card{
    width: 304px;
    padding-top: 103px;
    padding-bottom: 104px;
    text-align: center;
}

.footer__about-text > h3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
}
.footer__about-text > p{
    padding-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    width: 304px;
    text-align: center;
}
.footer__subscribe-bg{
    width: 100%;
    background: url(./catalog_img/footerBG.jpg) no-repeat center;
    background-size: 100%;
}
.footer__subscribe-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 136px;
}
.footer__subscribe-card:first-child{
    padding-top: 87px;
}
.footer__subscribe-card:last-child{
    padding-top: 150px;
}
.footer__subscribe-img{
    text-align: center;
    width: 360px;
}
.footer__subscribe-text{
    width: 359px;
    padding-top: 30px;
}
.footer__subscribe-text > p{
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.footer__subscribe-title > h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.footer__subscribe-title > p{
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}
.footer__subscribe-input{
    margin-top: 32px;
    text-align: center;
}
.input{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border-radius: 25px 0 0 25px;
    border: none;
    width: 256px;
    height: 49px;
    padding-left: 22px;
    display: inline-block;
}
.button{
    background: #F16D7F;
    width: 100px;
    height: 49px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 0 25px 25px 0;
    justify-content: center;
}
.button:hover{
    background: #E05C6E;
    cursor: pointer;
}
.footer__right-bg{
    background: #222224;
    width: 100%;
    padding: 25px 0;
}

.footer__right-cards{
    display: grid;
    grid-template-columns: 332px 148px;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer__right-card > p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}
.footer__right-cardBg{
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding-top: 9px;
}

.footer__right-cardBg:hover .footer__right-svgBg{
    fill: white;
}
.footer__right-cardBg:hover{
    background: #F16D7F;
}
/*Footer End*/