* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header--bg {
  background: #222222;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0 18px 0;
}

.nav__item {
  position: relative;
}

.nav__item:last-child {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__img {
  margin-right: 41px;
}

.nav__image {
  margin-left: 33px;
}

.nav__ellips {
  position: absolute;
  top: -6px;
  right: -11px;
}

/*INTRO START*/
.intro {
  background: #F8F3F4;
}

.intro__title a {
  font-family: 'Lato', sans-serif;
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.intro__title a:hover {
  color: #0f0e0e;
}

.intro__title {
  padding: 50px 0;
}

/*INTRO END*/
/*START REGISTRATION*/
.registration__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 531px 609px;
      grid-template-columns: 531px 609px;
}

.registration__name {
  padding-top: 64px;
}

.registration__name p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__name input {
  width: 360px;
  padding: 13px 0 16px 17px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  display: block;
  margin-top: 20px;
}

.registration__gender {
  margin-top: 31px;
}

.registration__gender span {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 10px;
}

.registration__gender input:nth-child(3) {
  margin-left: 20px;
}

.registration__login {
  margin-top: 33px;
}

.registration__login p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__login input {
  width: 360px;
  padding: 13px 0 16px 17px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  display: block;
  margin-top: 20px;
}

.registration__login span {
  display: block;
  width: 358px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 15px;
}

.registration__button {
  margin-top: 39px;
}

.registration__button button {
  background: #F16D7F;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 17px 29px;
  margin-bottom: 96px;
}

.registration__button button p {
  display: inline-block;
}

.registration__button button img {
  padding-left: 20px;
}

.registration__button button:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  background: #000000;
  -webkit-transition: 2s;
  transition: 2s;
}

.registration__loyaity h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 64px;
}

.registration__loyaity p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 22px;
  width: 633px;
}

.registration__loyaity ul {
  padding-top: 21px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style-type: none;
}

.registration__loyaity ul li {
  padding-top: 16px;
}

.registration__loyaity ul li::before {
  content: " ";
  background: url(./registration_img/check_mark.svg) no-repeat center left;
  padding-left: 43px;
}

.registration__loyaity ul li:first-child {
  padding-top: 0;
}

.registration__loyaity ul li:hover {
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
  -webkit-transition: all 0.5ss;
  transition: all 0.5ss;
}

/*END REGISTRATION*/
/*START subscribe*/
.subscribe-bg {
  width: 100%;
  background: url(../Catalog/catalog_img/footerBG.jpg) no-repeat center;
}

.subscribe__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.subscribe__card:first-child {
  padding-top: 87px;
}

.subscribe__card:last-child {
  padding-top: 150px;
}

.subscribe__img {
  text-align: center;
  width: 360px;
}

.subscribe__text {
  width: 359px;
  padding-top: 30px;
}

.subscribe__text p {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__title h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__title p {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.subscribe__input {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 146px;
}

.subscribe__input input:first-child {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  border-radius: 25px 0 0 25px;
  border: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
  display: inline-block;
}

.subscribe__input input:last-child {
  background: #F16D7F;
  width: 100px;
  height: 49px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 0 25px 25px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__input input:last-child:hover {
  background: #E05C6E;
}

.footer {
  background: #222224;
  width: 100%;
}

.footer__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 332px 148px;
      grid-template-columns: 332px 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__card p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__card-bg {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: inline-block;
  text-align: center;
  padding-top: 9px;
}

.footer__card-bg:hover {
  background: #F16D7F;
}

.footer__card-bg:hover .footer__svg-bg {
  fill: white;
}

.fbtn {
  -webkit-transition: 1s;
  transition: 1s;
}

.fbtn:hover {
  background-color: plum;
  color: #fff;
  /* transform: scale(2); */
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

/*END subscribe*/
/*# sourceMappingURL=registration.css.map */