*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@mixin wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 16px;
}
@mixin fontIntro(){
    font-family: 'Lato', sans-serif;
    color: #F16D7F;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
$headerBg:#222222;
.header{
    &--bg{
        background: $headerBg;
        max-width: 100%;
        position: fixed;
        width: 100%;
        z-index: 50;
    }
    &__nav-item:last-child{
        align-self: center;
        position: relative;
    }
    &__burger{
        width: 232px;
        background-color: white;
        position: fixed;
        z-index: 10;
        right: 0;
        top: 79px;
    }
    &__burger-open{
        display: block;
    }
    &__burger-close{
        display: none;
    }
    &__burger-close ~ .burger-close{
        display: none;
    }
    &__burger-title{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-left: 34px;
        padding-top: 37px;
    }
    &__list > h3{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        padding-left: 33px;
    }
    &__list > a{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        display: block;
        padding-left: 54px;
        padding-top: 12px;
    }
    &__man{
        margin-top: 24px;
    }
    &__woman, &__kids{
        margin-top: 20px;
    }
    &__kids{
        margin-bottom: 157px;
    }
    
}
.burger{
    &-open{
        background: transparent;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
    &-close{
        background: transparent;
        border: none;
        position: fixed;
        right: 16px;
        top: 95px;
        z-index: 60;
        &:hover{
            cursor: pointer;
        }
    }
}
.wrapper{
    @include wrapper();
}
.nav{
    display: flex;
    justify-content: space-between; 
    padding: 18px 0 18px 0;
   
    &__item{
        position: relative;
        
        &:last-child{
            align-self: center;
        }
    }
    &__img{
        margin-right: 41px;
    }
    &__image{
        margin-left: 33px;
    }
    &__ellips{
        position: absolute;
        top: -6px;
        right: -11px;  
    }
}
/*INTRO START*/
$IntroBg:#F8F3F4;
.intro{
    max-width: 100%;
    padding-top: 73px;
    background: $IntroBg;
    &__title a{
        @include fontIntro;
        text-decoration: none; 
        transition: 1s; 
    }
    &__title{
        a:hover{
            color: rgb(15, 14, 14);
        }
    }
    &__title{
        padding: 50px 0;
    }
}

/*INTRO END*/


/*START REGISTRATION*/
@mixin registrationFormTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
@mixin registrationInput{
    width: 360px;
    padding: 13px 0 16px 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    display: block;
}
@mixin registrationInputRadioText {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
@mixin loyaltyFonts {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.registration{
    &__item{
        display: grid;
        grid-template-columns: 51% 49%;
        
    }
    &__name{
        padding-top: 64px;
        & p{
            @include registrationFormTitle;
        }
        & input{
            @include registrationInput;
            margin-top: 20px;
        }
    }
    &__gender{
        margin-top: 31px;
        & span{
            @include registrationInputRadioText;
            padding-left: 10px;
        }
        & input:nth-child(3){
            margin-left: 20px;
            
        }
    }
    &__login{
        margin-top: 33px;
        & p{
            @include registrationFormTitle;
        }
        & input{
            @include registrationInput;
            margin-top: 20px;
        }
        & span{
            display: block;
            width: 358px;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            padding-top: 15px;
        }
    }
    &__button{
        margin-top: 39px;
        & button{
            background:  #F16D7F;
            border: none;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding: 17px 29px;
            margin-bottom: 96px;
            
            
            & p{
                display: inline-block;
            }
            & img{
                padding-left: 20px;
            }
        }
        & button:hover{
            transform: rotateY(360deg);
            background: #000000;
            transition: 2s;
            cursor: pointer;
        }
    }
    &__loyaity{
        padding-left: 22px;
        & h3{
            @include loyaltyFonts ;
            padding-top: 64px;
        }
        & p{
            @include loyaltyFonts ;
            padding-top: 22px;
            max-width: 633px;
        }
        & ul{
            padding-top: 21px;
            @include loyaltyFonts ;
            list-style-type: none;
            & li{
                padding-top: 16px;
            }
            & li::before{
                content: " ";
                background: url(./registration_img/check_mark.svg) no-repeat center left;
                padding-left: 43px;
            }
            & li:first-child{
                padding-top: 0;
            }
            & li:hover{
                transform: scaleY(1.5);
                transition: all 0.5ss;
            }
        }
    }
}



/*END REGISTRATION*/


/*START subscribe*/
.subscribe{
    &-bg{
        background: url(../Catalog/catalog_img/footerBG.jpg) no-repeat center;
        background-size: 100% 100%;
    }
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__card:first-child{
        padding-top: 87px;
    }
    &__card:last-child{
        padding-top: 150px;
    }
    &__img{
        text-align: center;
        width: 360px; 
    }
    &__text{
        width: 359px;
        padding-top: 30px;
        & p{
            font-family: Lato;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
        }
    }
    &__title{
        & h3{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
        }
        & p{
            font-family: Lato;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #222224; 
        }
    }
    &__input{
        margin-top: 32px;
        text-align: center;
        margin-bottom: 146px;
        & input:first-child{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #222224;
            opacity: 0.67;
            background: #E1E1E1;
            border-radius: 25px 0 0 25px;
            border: none;
            width: 256px;
            height: 49px;
            padding-left: 22px;
            display: inline-block;
        }
        & input:last-child{
            background: #F16D7F;
            width: 100px;
            height: 49px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 0 25px 25px 0;
            justify-content: center;
            &:hover{
                background: #E05C6E;
                cursor: pointer;
            }
        }
    }
}
.footer{
    background: #222224;
    width: 100%;
    &__cards{
        display: grid;
        grid-template-columns: 332px 148px;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__card{
        & p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }
    }
    &__card-bg{
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        display: inline-block;
        text-align: center;
        padding-top: 9px;
        &:hover{
            background: #F16D7F;
        }
        &:hover .footer__svg-bg{
            fill: white;
        }
    }

}
.fbtn{
    transition: 1s;
}
.fbtn:hover {
    background-color: plum;
    color: #fff;
    /* transform: scale(2); */
    transform: rotateY(360deg); 
}
/*END subscribe*/
@media (max-width: 1200px){
    .registration{
        &__loyaity h3{
            font-size: 16px;
            line-height: 19px;
        }
        &__loyaity p{
            font-size: 16px;
            line-height: 19px;
            max-width: 354px;
        }
        &__loyaity ul{
            font-size: 16px;
            line-height: 19px;
        }
    }
    
}
@media (max-width:838px) {
    .subscribe{
        &__cards{
            display: block;
            grid-template-columns: none;
            grid-template-rows: none;
        }
        &__card:first-child{
            padding-top: 64px;
        }
        &__card:last-child{
            padding-top: 48px;
        }
        &__input{
            padding-bottom: 140px;
            margin-bottom: 0;
        }
        &__img{
            width: 100%;
        }
        &__text{
            margin: 0 auto;
        }
    }
    .wrapper{
        max-width: 728px;
    }
}
@media (max-width:767px){
    .intro{
        &__title{
            text-align: center;
        }
    }
    .registration{
        &__item{
            justify-content: center;
            grid-template-columns: none;
            grid-template-rows: none;
        }
        &__button button{
            margin-bottom: 0;
        }
        &__loyaity{
            padding-left: 0;
            padding-bottom: 96px;
        }
        &__loyaity{
            padding-top: 40px;
        }
        &__loyaity h3{
            padding-top: 0;
        }
        &__name{
            padding-top: 40px;
        }
        
    }
    .subscribe{
        &__input input:first-child{
            width: 246px;
        }
        &__input input:last-child{
            width: 96px;
        }
    }
    .footer{
        &__cards{
            grid-template-columns: none;
            grid-template-rows: none;
            display: flex;
            flex-direction: column-reverse;
        }
        &__card:first-child{
            padding-top: 25px;
        }
        &__card:last-child{
            margin-top: 43px;
        }
    }
}
